*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{
background:#fff5f7;
color:#333;
}

/* NAVBAR */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
font-size:22px;
font-weight:bold;
color:#ff4d6d;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#333;
}

.login{
background:#ffd6de;
border:none;
padding:8px 18px;
border-radius:20px;
cursor:pointer;
}


/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 60px;
}

.hero-text{
max-width:500px;
animation:fadeUp 1.2s ease;
}

.hero-text h1{
font-size:46px;
margin-bottom:20px;
}

.hero-text span{
color:#ff4d6d;
}

.hero-text p{
margin-bottom:25px;
color:#666;
}

.primary{
background:#ff4d6d;
color:white;
border:none;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
margin-right:10px;
transition:0.3s;
}

.primary:hover{
transform:scale(1.05);
}

.secondary{
background:white;
border:1px solid #ccc;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
}

/* HEART */

.heart{
width:180px;
height:180px;
background:#ff4d6d;
position:relative;
transform:rotate(-45deg);
animation:float 3s infinite ease-in-out;
}

.heart::before,
.heart::after{
content:'';
width:180px;
height:180px;
background:#ff4d6d;
border-radius:50%;
position:absolute;
}

.heart::before{
top:-90px;
left:0;
}

.heart::after{
left:90px;
top:0;
}


/* FEATURES */

.features{
padding:80px 60px;
text-align:center;
}

.cards{
display:flex;
gap:30px;
margin-top:40px;
justify-content:center;
}

.card{
background:white;
padding:30px;
border-radius:15px;
width:250px;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}


/* STORIES */

.stories{
padding:80px 60px;
text-align:center;
}

.story-container{
display:flex;
gap:30px;
justify-content:center;
margin-top:30px;
}

.story{
background:white;
border-radius:15px;
overflow:hidden;
width:250px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
transition:0.3s;
}

.story:hover{
transform:scale(1.05);
}

.story img{
width:100%;
height:200px;
object-fit:cover;
}

.story h4{
padding:15px;
}


/* FOOTER */

footer{
background:#0d1b2a;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}


/* ANIMATIONS */

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes float{
0%{transform:translateY(0) rotate(-45deg);}
50%{transform:translateY(-20px) rotate(-45deg);}
100%{transform:translateY(0) rotate(-45deg);}
}