body{
    font-family: Arial;
    background: linear-gradient(120deg,#ff758f,#ff7eb3);
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.login-box{
    background:white;
    padding:40px;
    border-radius:20px;
    width:300px;
    text-align:center;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#ff4d6d;
    color:white;
    border-radius:20px;
    font-size:16px;
    cursor:pointer;
}