body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg,#ece9f1,#f7eef2);
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: white;
    height: 100vh;
    padding: 25px;
    box-shadow: 5px 0 20px rgba(0,0,0,0.05);
}

.logo {
    color: #ff4d6d;
}

nav a {
    display: block;
    padding: 12px;
    margin: 10px 0;
    border-radius: 12px;
    cursor: pointer;
}

nav .active {
    background: linear-gradient(90deg,#ff4d6d,#ff758f);
    color: white;
}

/* PREMIUM BOX */
.premium {
    margin-top: 40px;
    background: #ffe6ea;
    padding: 15px;
    border-radius: 15px;
}

.premium button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters button {
    margin-left: 10px;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: white;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    position: relative;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card span {
    color: #888;
    font-size: 14px;
}

/* LIKE BUTTON */
.like {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ff4d6d;
    border: none;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.like.liked {
    background: #333;
}